.photo-grid__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1079px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
  }
}
