.intro__subtitle {
  margin: 0;
  font-size: 16px;
  max-width: 690px;
  line-height: 163%;
  font-weight: 400;
  padding-top: 40px;
}

@media screen and (max-width: 320px) {
  .intro__subtitle {
    width: 285px;
  }
}
