.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
  margin: 0;
  margin-bottom: 26px;
  max-width: 484px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1079px) {
  .place__paragraph {
    max-width: 438px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 352px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
    margin-bottom: 25px;
  }
}
