.lead__subtitle {
  font-size: 30px;
  max-width: 640px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding-top: 32px;
}

@media screen and (min-width: 321px) and (max-width: 766px) {
  .lead__subtitle {
    font-size: 30px;
    max-width: 450px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
    line-height: 20px;
    padding-top: 16px;
  }
}
