.cover__overlay{
  width: 1184px;
  height: 740px;
  z-index: 2;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  margin: 0 auto;
  background-position: center;
  transition: opacity 1s linear;
}

@media screen and (min-width: 1024px) and (max-width: 1079px) {
  .cover__overlay{
    width: 1024px;
    height: 640px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__overlay{
    width: 768px;
    height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__overlay{
    width: 320px;
    height: 200px;
  }
}

.cover__overlay:hover{
  opacity: 0.8;
}