.place__website{
  grid-area: website;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .place__website{
    width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
